

.App table.total-details td{
  text-align: right;
}


.App .box{
  width:100%;
}

body{
  background-image: url(./corona-background.png);
  background-blend-mode: overlay;
  background-size:10%;
}
.container{
  font-weight: bold;
}